.App{
    text-align: center;
    padding: 10px;
    flex-wrap: wrap;
}
.App h1{
    padding: 20px;
    font-size: 40px;
}
button{
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    background: orangered;
    color: white;
    margin-right: 10px;
    border: 2px solid white;
}